canvas {
    width: 98% !important;
    height: 38vh !important;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 8px;
}

.container-info {
    height: 435px;
    width: 100%;
    margin-top: 16px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    .chart-info {
        font-size: x-large;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-btn {
        width: 100%;
        margin-top: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
h3 {
    font-size: 22px;
    margin-left: 32px;
    width: 240px;
    margin-block-end: unset;
    margin-block-start: unset;
}

.btn {
    margin-left: 16px;
    color: rgb(159, 159, 159);
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgb(25, 25, 25);
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
.isSelected {
    background-color: black;
    color: white;
}
