canvas {
    width: 98% !important;
    height: 35vh !important;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 8px;
}

.container-info {
    height: 435px;
    width: 100%;
    margin-top: 12px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    .chart-info {
        font-size: x-large;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-btn {
        width: 100%;
        margin-top: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
h3 {
    font-size: 22px;
    margin-left: 32px;
    width: 240px;
    margin-block-end: unset;
    margin-block-start: unset;
}

.btn {
    margin-left: 16px;
    color: rgb(159, 159, 159);
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgb(25, 25, 25);
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
.isSelected {
    background-color: black;
    color: white;
}
@media (max-width: 600px) {
    canvas {
        height: 30vh !important;
    }
    .container-info {
        height: 370px;
    }
    h3 {
        font-size: 18px;
        margin-left: 32px;
        width: 180px;
        margin-block-end: unset;
        margin-block-start: unset;
    }
}
@media (max-width: 500px) {
    canvas {
        height: 250px !important;
    }
    .container-info {
        height: 315px;
    }
    h3 {
        font-size: 16px;
        margin-left: 16px;
        width: 140px;
        margin-block-end: unset;
        margin-block-start: unset;
    }
    .btn {
        width: 54px;
        height: 25px;
        font-size: 10px;
        margin-left: 4px;
        color: rgb(159, 159, 159);
        padding: unset;
    }
}
@media (max-width: 350px) {
    h3 {
        font-size: 12px;
        width: 95px;
    }
    .btn {
        width: 50px;
    }
    .container-info {
        height: 210px;
        margin-right: unset;
    }
    canvas {
        height: 165px !important;
    }
}
/* IPhone SE */

@media screen and (width: 667px) and (height: 375px) {
    canvas {
        height: 100vh !important;
    }
}

/*iPhone XR*/

@media screen and (width: 896px) and (height: 414px) {
    canvas {
        height: 94vh !important;
    }
}

/*iPhone 12 Pro*/

@media screen and (width: 844px) and (height: 390px) {
    canvas {
        height: 98vh !important;
    }
}

/*Pixel 5*/

@media screen and (width: 851px) and (height: 393px) {
    canvas {
        height: 98vh !important;
    }
}

/*Samsung S8*/

@media screen and (width: 740px) and (height: 360px) {
    canvas {
        height: 100vh !important;
    }
}

/* Samsung S20 */

@media screen and (width: 915px) and (height: 412px) {
    canvas {
        height: 90vh !important;
    }
}

/*iPad Air*/

@media screen and (width: 820px) and (height: 1180px) {
    canvas {
        height: 32vh !important;
    }
}

/*iPad Mini */

/* @media screen and (width: 768px) and (height: 1024px) {
} */

/* Surface Pro*/

@media screen and (width: 912px) and (height: 1368px) {
    .container-info {
        height: 508px;
    }
    canvas {
        height: 32vh !important;
    }
}

/*Surface Duo*/

@media screen and (width: 540px) and (height: 720px) {
    canvas {
        height: 43vh !important;
    }
}

@media screen and (width: 720px) and (height: 540px) {
    canvas {
        height: 70vh !important;
    }
}

/* Galaxy Fold */

@media screen and (width: 280px) and (height: 653px) {
    h3 {
        font-size: 12px;
        width: 95px;
    }
    .btn {
        width: 50px;
    }
    .container-info {
        height: 210px;
        margin-right: unset;
    }
    canvas {
        height: 165px !important;
    }
}

@media screen and (width: 653px) and (height: 280px) {
    .container-info {
        height: 280px;
    }
    canvas {
        height: 80vh !important;
    }
}

/*Galaxy A51/71*/

/* @media screen and (width: 412px) and (height: 914px) {
}*/

@media screen and (width: 914px) and (height: 412px) {
    canvas {
        height: 90vh !important;
    }
}

/*Nest Hub*/

@media screen and (width: 1024px) and (height: 600px) {
    canvas {
        height: 60vh !important;
    }
}
/*Nest Hub Max*/
