drag-scroll::-webkit-scrollbar {
    display: none;
}
.over-coin-container {
    width: 100%;
    margin-top: 4px;
    margin-left: 12px;
}
.headline {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
drag-scroll {
    overflow: hidden !important;
    white-space: nowrap;
    width: calc(100vw - 5px);
    height: 210px;
}

.single-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}

.coin-container {
    height: 140px;
    width: 300px;
    padding: 16px 0px 16px 0px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.225s;
    &:hover {
        cursor: pointer;
        background-color: rgb(40, 40, 40);
        transform: scale(1.075);
        z-index: 2;
    }
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.225s;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}
.scroll-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    height: 220px;
    width: 90px;
    bottom: 0px;
    background: linear-gradient(to right, transparent, black);
    z-index: 10;
    .img-right {
        height: 20px;
        width: 20px;
    }
}

.scroll-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    height: 220px;
    width: 90px;
    bottom: 0px;
    background: linear-gradient(to left, transparent, black);
    z-index: 10;

    .img-left {
        height: 25px;
        width: 25px;
    }
}

.active {
    background-color: rgb(50, 50, 50);
}
.d-none {
    display: none;
}
@media (max-width: 1000px) {
    drag-scroll {
        width: calc(100vw - 5px);
    }
    .scroll-right {
        bottom: -180px;
    }

    .scroll-left {
        bottom: -180px;
    }
}
@media (max-width: 900px) {
    .scroll-right {
        bottom: -380px;
    }

    .scroll-left {
        bottom: -380px;
    }
}

@media (max-width: 800px) {
    .scroll-right {
        bottom: -585px;
    }

    .scroll-left {
        bottom: -585px;
    }
}
@media (max-width: 700px) {
    drag-scroll {
        height: 180px;
    }
    .coin-container {
        height: 100px;
        width: 220px;
    }

    img {
        width: 25px;
        height: 25px;
    }

    .name-color {
        font-size: 16px;
    }

    .single-info {
        font-size: 18px;
    }
    .left-container {
        height: 30px;
        width: 30px;
    }
    .scroll-right {
        bottom: -548px;
        height: 180px;
    }

    .scroll-left {
        bottom: -548px;
        height: 180px;
    }
}
@media (max-width: 600px) {
    .scroll-right {
        bottom: -486px;
    }

    .scroll-left {
        bottom: -486px;
    }
}
@media (max-width: 500px) {
    .scroll-right {
        bottom: -690px;
    }

    .scroll-left {
        bottom: -690px;
    }
}
/* IPhone SE */

/* @media screen and (width: 375px) and (height: 667px) {
    .container {
        height: unset;
        margin-top: 16px;
    }
    .container-info {
        height: 218px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 32px;
    }
}

@media screen and (width: 667px) and (height: 375px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*iPhone XR*/

/* @media screen and (width: 414px) and (height: 896px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*iPhone 12 Pro*/

/* @media screen and (width: 390px) and (height: 844px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 844px) and (height: 390px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Pixel 5*/

/* @media screen and (width: 393px) and (height: 851px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 851px) and (height: 393px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Samsung S8*/

/* @media screen and (width: 360px) and (height: 740px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 740px) and (height: 360px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 600px !important;
        height: 400px !important;
    }
    p {
        margin-bottom: 32px;
    }
} */

/* Samsung S20 */

/* @media screen and (width: 412px) and (height: 915px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 915px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*iPad Air*/

/* @media screen and (width: 820px) and (height: 1180px) {
    h1 {
        font-size: 80px;
    }
    .button-container {
        width: 90%;
        margin-top: 16px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 64px;
    }
}

@media screen and (width: 1180px) and (height: 820px) {
    .main-container {
        height: auto;
    }
    h1 {
        font-size: 96px;
    }
} */

/*iPad Mini */

/* @media screen and (width: 768px) and (height: 1024px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 48px;
    }
} */

/* Surface Pro*/

/* @media screen and (width: 912px) and (height: 1368px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    .coin-main-container {
        width: 300px;
        margin-left: 16px;
    }
    .main-container {
        height: 63vh;
        margin-top: 64px;
        flex-direction: column;
    }
    p {
        font-size: 32px;
        margin-top: 48px;
    }
} */

/*Surface Duo*/

/* @media screen and (width: 540px) and (height: 720px) {
    h1 {
        font-size: 64px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 24px;
    }
}

@media screen and (width: 720px) and (height: 540px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/* Galaxy Fold */

/* @media screen and (width: 280px) and (height: 653px) {
    h1 {
        font-size: 24px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 16px;
        margin-top: 24px;
    }
}*/

@media screen and (width: 653px) and (height: 280px) {
    .scroll-right {
        bottom: -1088px;
    }

    .scroll-left {
        bottom: -1088px;
    }
}

/*Galaxy A51/71*/

@media screen and (width: 412px) and (height: 914px) {
    .scroll-right {
        bottom: -750px;
    }

    .scroll-left {
        bottom: -750px;
    }
}

@media screen and (width: 914px) and (height: 412px) {
    .scroll-right {
        bottom: -743px;
    }

    .scroll-left {
        bottom: -743px;
    }
}

/*Nest Hub*/

@media screen and (width: 1024px) and (height: 600px) {
    .scroll-right {
        bottom: -375px;
    }

    .scroll-left {
        bottom: -375px;
    }
}

/*Nest Hub Max*/

@media screen and (width: 1280px) and (height: 800px) {
    .scroll-right {
        bottom: -175px;
    }

    .scroll-left {
        bottom: -175px;
    }
}
