.container {
    height: 80px;
    padding-right: 6%;
    padding-left: 6%;
    border-bottom: 1px solid rgb(100, 100, 100);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    img {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
}

.navi-container {
    display: flex;
    align-items: center;
    .toggle-eur {
        margin-right: 16px;
        font-size: 22px;
        font-weight: bolder;
    }
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 180px;
        border-radius: 25px;
        margin-right: 32px;
        input {
            height: 25px;
            width: 100px;
            border: unset;
            color: white;
            font-size: 18px;
            font-family: "Benne";
            &:focus {
                outline: unset;
            }
        }
        img {
            height: 15px;
        }
    }
}

.button-info {
    width: 120px;
    height: 40px;
    font-size: x-large;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    &:hover {
        border: 1px solid white;
        background-color: rgb(30, 30, 30);
    }
}

@media (max-width: 400px) {
    .button-info {
        width: 80px;
        font-size: medium;
    }
}

/* IPhone SE */

@media screen and (width: 375px) and (height: 667px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*iPhone XR*/

@media screen and (width: 414px) and (height: 896px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*iPhone 12 Pro*/

@media screen and (width: 390px) and (height: 844px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*Pixel 5*/

@media screen and (width: 393px) and (height: 851px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*Samsung S8*/

@media screen and (width: 360px) and (height: 740px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/* Samsung S20 */

@media screen and (width: 412px) and (height: 915px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/* Surface Duo */

@media screen and (width: 540px) and (height: 720px) {
    .button-info {
        width: 90px;
        font-size: medium;
    }
    .container {
        height: 50px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

/* Galaxy Fold */

@media screen and (width: 280px) and (height: 653px) {
    .button-info {
        width: 90px;
        font-size: medium;
    }
    .container {
        height: 50px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

/*Galaxy A51/71*/

@media screen and (width: 412px) and (height: 914px) {
    .button-info {
        width: 100px;
        font-size: medium;
    }
}
