.container {
    height: 80px;
    padding-right: 6%;
    padding-left: 6%;
    border-bottom: 1px solid white;
    background-color: rgba(36, 36, 92, 0.5);
    box-shadow: 7px 0px 17px 0px rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button-info {
    width: 120px;
    height: 40px;
    font-size: x-large;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    &:hover {
        border: 1px solid white;
        box-shadow: 2px 4px 8px 0px rgba(255, 112, 112, 0.5);
        color: rgb(255, 112, 112);
        background-color: rgba(0, 250, 250, 0.274);
    }
}


/* IPhone SE */

@media screen and ( width: 375px) and ( height: 667px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/*iPhone XR*/

@media screen and ( width: 414px) and ( height: 896px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/*iPhone 12 Pro*/

@media screen and ( width: 390px) and ( height: 844px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/*Pixel 5*/

@media screen and ( width: 393px) and ( height: 851px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/*Samsung S8*/

@media screen and ( width: 360px) and ( height: 740px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/* Samsung S20 */

@media screen and ( width: 412px) and ( height: 915px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}


/* Galaxy Fold */

@media screen and ( width: 280px) and ( height: 653px) {
    .button-info {
        width: 90px;
        font-size: medium;
    }
    .container {
        height: 50px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

@media screen and ( width: 412px) and ( height: 914px) {
    .button-info {
        width: 100px;
    }
}