.container {
    height: 80px;
    padding-right: 6%;
    padding-left: 6%;
    border-bottom: 1px solid rgb(100, 100, 100);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    h1 {
        font-family: "OpenSans" !important;
    }
    img {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
}

.navi-container {
    display: flex;
    align-items: center;
    .toggle-eur {
        margin-right: 16px;
        font-size: 20px;
        font-weight: bold;
    }
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 180px;
        border-radius: 25px;
        margin-right: 32px;
        input {
            height: 25px;
            width: 100px;
            border: unset;
            color: white;
            font-size: 18px;
            font-family: "OpenSans" !important;
            &:focus {
                outline: unset;
            }
        }
        img {
            height: 15px;
        }
    }
}

@media (max-width: 700px) {
    .header {
        h1 {
            font-size: 28px;
        }
        img {
            height: 30px;
            width: 30px;
        }
    }
    .navi-container {
        display: flex;
        align-items: center;
        .toggle-eur {
            margin-right: 16px;
            font-size: 16px;
            font-weight: bold;
        }
        .navigation {
            height: 25px;
            width: 140px;
            margin-right: 24px;
            input {
                height: 20px;
                font-size: 16px;
                &:focus {
                    outline: unset;
                }
            }
            img {
                height: 12px;
            }
        }
    }
}
@media (max-width: 600px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
    .header {
        h1 {
            font-size: 25px;
        }
        img {
            margin-right: 12px;
        }
    }
    .navi-container .navigation {
        margin-right: 16px;
    }
}
@media (max-width: 500px) {
    .header {
        h1 {
            font-size: 22px;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
    .navi-container {
        .toggle-eur {
            margin-right: 12px;
        }
    }
}

/* IPhone SE */

@media screen and (width: 375px) and (height: 667px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*iPhone XR*/

@media screen and (width: 414px) and (height: 896px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*iPhone 12 Pro*/

@media screen and (width: 390px) and (height: 844px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*Pixel 5*/

@media screen and (width: 393px) and (height: 851px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/*Samsung S8*/

@media screen and (width: 360px) and (height: 740px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/* Samsung S20 */

@media screen and (width: 412px) and (height: 915px) {
    .button-info {
        width: 100px;
        font-size: large;
    }
}

/* Surface Duo */

@media screen and (width: 540px) and (height: 720px) {
    .button-info {
        width: 90px;
        font-size: medium;
    }
    .container {
        height: 50px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

/* Galaxy Fold */

@media screen and (width: 280px) and (height: 653px) {
    .button-info {
        width: 90px;
        font-size: medium;
    }
    .container {
        height: 50px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

/*Galaxy A51/71*/

@media screen and (width: 412px) and (height: 914px) {
    .button-info {
        width: 100px;
        font-size: medium;
    }
}
