.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    .container-top {
        margin-top: 24px;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.balance-container {
    height: 180px;
    width: 64%;
    margin-left: 24px;
    border-radius: 15px;
}
.detail-container {
    height: 180px;
    width: 32%;
    margin-left: 12px;
    margin-right: 24px;
    border-radius: 15px;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-exchange {
    width: 20%;
    height: 435px;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.chart-style {
    width: 80%;
    margin-right: 24px;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.coin-main-container {
    height: 210px;
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden !important;
}

.border-none {
    border: none !important;
}

.d-none {
    display: none;
}

@media (max-width: 1100px) {
    .container-exchange {
        width: 24%;
    }
    .chart-style {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .balance-container {
        height: 360px;
        width: 60%;
    }
    .detail-container {
        height: 360px;
    }
}

@media (max-width: 900px) {
    .container-top {
        .balance-container {
            width: 55%;
        }
        .detail-container {
            width: 37%;
        }
    }
    .container {
        flex-direction: column;
        .container-exchange {
            display: flex;
            flex-direction: column;
            width: 94%;
            height: 170px;
        }
        .chart-style {
            width: 94%;
            margin-right: unset;
            margin-top: 20px;
        }
    }
}

@media (max-width: 800px) {
    .container-top {
        flex-direction: column-reverse;
        .balance-container {
            width: 94%;
        }
        .detail-container {
            height: 180px;
            width: 94%;
            margin-right: unset;
            margin-left: 24px;
            margin-bottom: 24px;
        }
    }
    .container {
        .container-exchange {
            margin-left: unset;
            margin-right: unset;
        }
    }
}
/*
@media (max-width: 1024px) {
    .main-container {
        height: unset;
        justify-content: center;
    }
    .coin-main-container {
        margin-top: 0;
    }
    .main {
        margin-right: 8px;
    }
    canvas {
        max-width: 650px !important;
        height: 370px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    h1 {
        margin-top: 64px;
        margin-left: 0px;
        writing-mode: unset;
        transform: rotate(0deg);
        position: unset;
    }
}

@media (max-width: 1000px) {
    h1 {
        margin-top: 48px;
        font-size: 80px;
    }
    .container {
        height: auto;
    }
    .main-container {
        height: unset;
    }
    .coin-main-container {
        margin-top: 16px;
    }
    canvas {
        max-width: 500px !important;
        height: 320px !important;
    }
    p {
        margin-bottom: 16px;
    }
}

@media (max-width: 865px) {
    canvas {
        max-width: 400px !important;
        height: 270px !important;
    }
}

@media (max-width: 740px) {
    h1 {
        font-size: 64px;
    }
    .main {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    canvas {
        margin-top: 32px;
        max-width: 400px !important;
        height: 320px !important;
    }
    .container {
        margin-right: unset;
    }
    .coin-main-container {
        margin-top: 32px;
        width: 400px;
    }
}

@media (max-width: 500px) {
    .main {
        margin-right: unset;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .coin-main-container {
        width: 300px;
    }
}

@media (max-width: 350px) {
    canvas {
        max-width: 200px !important;
        height: 150px !important;
    }
    .coin-main-container {
        width: 220px;
    }
    .coin-container {
        font-size: xx-small;
    }
    pagination-template {
        flex-wrap: wrap;
    }
    pagination-template > div {
        margin-top: 10px;
    }
} */

/* IPhone SE */

/* @media screen and (width: 375px) and (height: 667px) {
    .container {
        height: unset;
        margin-top: 16px;
    }
    .container-info {
        height: 218px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 32px;
    }
}

@media screen and (width: 667px) and (height: 375px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*iPhone XR*/

/* @media screen and (width: 414px) and (height: 896px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*iPhone 12 Pro*/

/* @media screen and (width: 390px) and (height: 844px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 844px) and (height: 390px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Pixel 5*/

/* @media screen and (width: 393px) and (height: 851px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 851px) and (height: 393px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Samsung S8*/

/* @media screen and (width: 360px) and (height: 740px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 740px) and (height: 360px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 600px !important;
        height: 400px !important;
    }
    p {
        margin-bottom: 32px;
    }
} */

/* Samsung S20 */

/* @media screen and (width: 412px) and (height: 915px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 915px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*iPad Air*/

/* @media screen and (width: 820px) and (height: 1180px) {
    h1 {
        font-size: 80px;
    }
    .button-container {
        width: 90%;
        margin-top: 16px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 64px;
    }
}

@media screen and (width: 1180px) and (height: 820px) {
    .main-container {
        height: auto;
    }
    h1 {
        font-size: 96px;
    }
} */

/*iPad Mini */

/* @media screen and (width: 768px) and (height: 1024px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 48px;
    }
} */

/* Surface Pro*/

/* @media screen and (width: 912px) and (height: 1368px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    .coin-main-container {
        width: 300px;
        margin-left: 16px;
    }
    .main-container {
        height: 63vh;
        margin-top: 64px;
        flex-direction: column;
    }
    p {
        font-size: 32px;
        margin-top: 48px;
    }
} */

/*Surface Duo*/

/* @media screen and (width: 540px) and (height: 720px) {
    h1 {
        font-size: 64px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 24px;
    }
}

@media screen and (width: 720px) and (height: 540px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/* Galaxy Fold */

/* @media screen and (width: 280px) and (height: 653px) {
    h1 {
        font-size: 24px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 16px;
        margin-top: 24px;
    }
}

@media screen and (width: 653px) and (height: 280px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*Galaxy A51/71*/

/* @media screen and (width: 412px) and (height: 914px) {
    h1 {
        font-size: 32px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 32px;
    }
}

@media screen and (width: 914px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*Nest Hub*/

/* @media screen and (width: 1024px) and (height: 600px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    .container {
        width: 90%;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*Nest Hub Max*/

/* @media screen and (width: 1280px) and (height: 800px) {
    .main-container {
        height: auto;
    }
    h1 {
        bottom: -210px;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
