<loading *ngIf="service.isLoading">{{ service.isLoading }}</loading>
<app-menu></app-menu>
<span><h1>Coin's chart</h1></span>
<div class="main-container">
    <div class="button-container">
        <button [class.button-active]="currentPrice" [disabled]="currentPrice" (click)="renderCurrentPrice()" class="button-info">Current price</button>
        <button [class.button-active]="pricePercentage" [disabled]="pricePercentage" (click)="renderPricePercentage()" class="button-info ml-16">Price change last 24h in %</button>
        <button [class.button-active]="priceChange" [disabled]="priceChange" (click)="renderPriceChange()" class="button-info ml-16">Price change last 24h in €</button>
        <button [class.button-active]="highestPrice" [disabled]="highestPrice" (click)="renderHighestPrice()" class="button-info ml-16">Highest price last 24h in €</button>
        <button [class.button-active]="lowestPrice" [disabled]="lowestPrice" (click)="renderLowestPrice()" class="button-info ml-16">Lowest price last 24h in €</button>
    </div>
    <div (wheel)="onMouseWheel($event)" class="container">
        <canvas class="container-info" id="myChart">{{ chart }}</canvas>
        <p>Last update: {{ date | date: 'dd.MM.yyyy' }}</p>
    </div>
</div>
<app-footer></app-footer>