span {
    width: 88%;
    height: 100px;
    margin-top: 16px;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-shadow: 7px 9px 6px rgba(140, 219, 255, 0.616);
}

p {
    width: 88%;
    text-align: center;
    font-size: x-large;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 32px;
    margin-bottom: 0px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 280px);
}

.container {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    max-width: 88% !important;
    max-height: 80%;
    &:hover {
        cursor: zoom-in;
    }
}

.container-info {
    font-size: x-large;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 7px 9px 17px 0px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &:hover {
        box-shadow: 7px 9px 17px 0px rgb(255, 112, 112);
    }
}

.button-info {
    width: 180px;
    height: 80px;
    margin-bottom: 40px;
    margin-left: 32px;
    font-size: larger;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 5px 7px 12px 2px rgba(255, 255, 255, 0.5);
    background-color: rgb(6, 6, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
        box-shadow: 5px 9px 14px 2px rgba(255, 112, 112, 0.5);
        background-color: rgba(0, 250, 250, 0.274);
    }
}

.button-active {
    box-shadow: 5px 9px 14px 2px rgba(255, 112, 112, 0.5);
    background-color: rgba(0, 250, 250, 0.274);
}

.d-none {
    display: none;
}

@media (max-width: 1500px) {
    .button-info {
        width: 180px;
        height: 60px;
    }
}

@media (max-width: 1368px) {
    .main-container {
        height: calc(100vh - 280px);
    }
}

@media (max-width: 1150px) {
    .container {
        width: 100%;
        height: 80%;
    }
    .main-container {
        flex-direction: column;
    }
    .button-container {
        display: flex;
    }
    .button-info {
        margin-left: 0px;
    }
    .ml-16 {
        margin-left: 16px;
    }
}

@media (max-width: 1024px) {
    .main-container {
        height: calc(100vh - 265px);
    }
    span {
        margin-top: 0px;
    }
    .button-info {
        margin-left: 0px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    h1 {
        margin-top: 64px;
    }
    .button-info {
        width: 160px;
    }
    .container {
        height: auto;
    }
    .main-container {
        height: calc(100vh - 265px);
    }
    canvas {
        height: 400px !important;
    }
    p {
        margin-bottom: 16px;
    }
}

@media (max-width: 865px) {
    .button-info {
        width: 135px;
    }
    .main-container {
        height: calc(100vh - 265px);
    }
}

@media (max-width: 740px) {
    .button-info {
        width: 120px;
    }
    .ml-16 {
        margin-left: 8px;
    }
}

@media (max-width: 655px) {
    .button-info {
        width: 110px;
    }
}

@media (max-width: 600px) {
    h1 {
        margin-top: 48px;
    }
    .button-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .container {
        height: 400px;
    }
}

@media (max-width: 450px) {
    .container {
        height: 300px;
    }
    .main-container {
        height: calc(100vh - 263px);
    }
}


/* IPhone SE */

@media screen and ( width: 375px) and ( height: 667px) {
    .container {
        height: unset;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    .container-info {
        height: 218px !important;
    }
}


/*iPhone XR*/

@media screen and ( width: 414px) and ( height: 896px) {
    span {
        margin-top: 32px;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-info {
        height: 250px !important;
    }
    .main-container {
        height: calc(100vh - 320px);
        margin-bottom: 22px;
    }
}


/*iPhone 12 Pro*/

@media screen and ( width: 390px) and ( height: 844px) {
    span {
        margin-top: 32px;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-info {
        height: 218px !important;
    }
    .main-container {
        height: calc(100vh - 318px);
        margin-bottom: 22px;
    }
}


/*Pixel 5*/

@media screen and ( width: 393px) and ( height: 851px) {
    span {
        margin-top: 32px;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-info {
        height: 200px !important;
    }
    .main-container {
        height: calc(100vh - 318px);
        margin-bottom: 22px;
    }
}


/*Samsung S8*/

@media screen and ( width: 360px) and ( height: 740px) {
    span {
        margin-bottom: 32px;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-info {
        height: 200px !important;
    }
    .main-container {
        height: calc(100vh - 318px);
        margin-bottom: 22px;
    }
}


/* Samsung S20 */

@media screen and ( width: 412px) and ( height: 915px) {
    span {
        margin-top: 32px;
    }
    .button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .container-info {
        height: 275px !important;
    }
    .main-container {
        height: calc(100vh - 318px);
        margin-bottom: 22px;
    }
}


/*iPad Air*/

@media screen and ( width: 820px) and ( height: 1180px) {
    h1 {
        font-size: 48px;
    }
    span {
        margin-top: 64px;
    }
    .button-container {
        width: 80%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    .container-info {
        height: 375px !important;
    }
    .main-container {
        height: calc(100vh - 350px);
        margin-bottom: 22px;
    }
    p {
        margin-top: 64px;
    }
}


/*iPad Mini */

@media screen and ( width: 768px) and ( height: 1024px) {
    h1 {
        font-size: 40px;
    }
    span {
        margin-top: 32px;
    }
    .button-container {
        width: 80%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .container-info {
        height: 375px !important;
    }
    .main-container {
        height: calc(100vh - 318px);
        margin-bottom: 22px;
    }
    p {
        margin-top: 48px;
    }
}


/* Surface Pro*/

@media screen and ( width: 912px) and ( height: 1368px) {
    h1 {
        font-size: 48px;
    }
    span {
        margin-top: 64px;
    }
    .button-container {
        width: 88%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    .button-info {
        width: 220px;
        height: 80px;
        font-size: x-large;
    }
    .container-info {
        height: 475px !important;
    }
    .main-container {
        height: calc(100vh - 328px);
    }
    p {
        font-size: 32px;
        margin-top: 48px;
    }
}


/*Surface Duo*/

@media screen and ( width: 540px) and ( height: 720px) {
    h1 {
        font-size: 24px;
    }
    span {
        margin-top: 8px;
        height: 80px;
    }
    .button-container {
        width: 88%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .button-info {
        height: 40px;
        font-size: x-small;
        margin-bottom: 16px;
    }
    .container-info {
        height: 275px !important;
    }
    .main-container {
        height: calc(100vh - 252px);
    }
    p {
        font-size: 20px;
        margin-top: 24px;
    }
}


/* Galaxy Fold */

@media screen and ( width: 280px) and ( height: 653px) {
    h1 {
        font-size: 24px;
    }
    span {
        margin-top: 8px;
        height: 80px;
    }
    .button-container {
        width: 88%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .button-info {
        height: 50px;
        font-size: x-small;
        margin-bottom: 24px;
        box-shadow: 0px 3px 12px 0px rgb(255, 255, 255, 0.5);
    }
    .container-info {
        height: 200px !important;
    }
    .main-container {
        height: calc(100vh - 192px);
    }
    p {
        font-size: 16px;
        margin-top: 24px;
    }
}


/*Galaxy A51/71*/

@media screen and ( width: 412px) and ( height: 914px) {
    h1 {
        font-size: 32px;
    }
    span {
        margin-top: 32px;
        height: 80px;
    }
    .button-container {
        width: 88%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    .button-info {
        height: 60px;
        font-size: medium;
        margin-bottom: 24px;
        box-shadow: 3px 3px 12px 1px rgb(255, 255, 255, 0.5);
    }
    .container-info {
        height: 275px !important;
    }
    .main-container {
        height: calc(100vh - 275px);
    }
    p {
        font-size: 20px;
        margin-top: 32px;
    }
}