.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.balance-container {
    width: 45%;
    height: 18vh;
    .header-balance {
        margin-top: 12px;
        margin-left: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 22px;
            margin-block-start: unset;
            margin-block-end: unset;
        }
    }
    .current-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        font-size: 30px;
        font-weight: bolder;
        p {
            margin-left: 32px;
            margin-block-end: unset;
            margin-block-start: unset;
        }
    }
    .diffrent-prices {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 32px;
        .higher-price {
            margin-right: 32px;
        }
        p {
            color: rgb(159, 159, 159);
            display: flex;
            align-items: center;
            margin-block-start: unset;
            margin-block-end: unset;
            margin-top: 16px;
            margin-bottom: 12px;
            .up {
                margin-right: 8px;
                border-radius: 50%;
                background-color: rgb(40, 40, 40);
                height: 24px;
                width: 24px;
                transform: rotate(90deg);
            }
            .down {
                margin-right: 8px;
                border-radius: 50%;
                background-color: rgb(40, 40, 40);
                height: 24px;
                width: 24px;
                transform: rotate(-90deg);
            }
        }

        span {
            font-size: 22px;
            font-weight: bolder;
        }

        .separation-small {
            border: 1px solid rgb(50, 50, 50);
            height: 50px;
        }
    }
}
.separation {
    border: 1px solid rgb(50, 50, 50);
    height: 15vh;
}
.container-Chart {
    width: 45%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .header-chart {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 32px;
        select {
            height: 35px;
            width: 170px;
            background-color: black;
            color: white;
            padding: 0px 8px 0px 8px;
            border-radius: 10px;
            border-color: rgb(25, 25, 25);
            &:focus {
                outline: unset;
            }
        }
    }
    p {
        margin-block-end: unset;
        margin-block-start: unset;
        margin-top: 4px;
        margin-bottom: 12px;
        font-weight: bolder;
        font-size: 22px;
        width: 100%;
    }
    .chart-overall {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        canvas {
            width: auto !important;
            height: 12vh !important;
            margin-right: 8px;
        }
        .container-legends {
            width: 55%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .legends-chart {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: rgb(159, 159, 159);
                font-size: 18px;
                margin-bottom: 8px;
                margin-top: 8px;
                .name-container {
                    display: flex;
                    align-items: center;
                    .color-blue {
                        width: 20px;
                        height: 10px;
                        border-radius: 3px;
                        background-color: rgb(0, 136, 255);
                        margin-right: 16px;
                    }
                    .color-pink {
                        width: 20px;
                        height: 10px;
                        border-radius: 3px;
                        background-color: rgb(255, 51, 255);
                        margin-right: 16px;
                    }
                    .color-green {
                        width: 20px;
                        height: 10px;
                        border-radius: 3px;
                        background-color: rgb(51, 255, 51);
                        margin-right: 16px;
                    }
                    img {
                        margin-right: 8px;
                        width: 25px;
                    }
                    .acronym {
                        margin-right: 16px;
                    }
                }
                .percentage {
                    margin-right: 16px;
                }
            }
        }
    }
}
