<div class="container">
  <div class="balance-container">
    <div class="header-balance">
      <h3>Balance</h3>
      <span
        [ngClass]="
          renderService.currentCoin.price_change_percentage_24h >= 0
            ? 'plus-number'
            : 'minus-number'
        "
        >{{ percentage }} %</span
      >
    </div>
    <div class="current-price">
      <p>
        {{ renderService.currentCoin.current_price }}
        {{ renderService.currencyName }}
      </p>
      <p style="color: rgb(159, 159, 159)">
        {{ renderService.currentCoin.name }}
      </p>
    </div>
    <div class="diffrent-prices">
      <div class="lower-price">
        <p>
          <img class="down" src="/assets/icons/down.png" alt="" />24h lowest
          price
        </p>
        <span
          >{{ renderService.currentCoin.low_24h }}
          {{ renderService.currencyName }}</span
        >
      </div>
      <div class="separation-small"></div>
      <div class="higher-price">
        <p>
          <img class="up" src="/assets/icons/up.png" alt="" /> 24h highest price
        </p>
        <span
          >{{ renderService.currentCoin.high_24h }}
          {{ renderService.currencyName }}</span
        >
      </div>
    </div>
  </div>
  <div class="separation"></div>
  <div class="container-Chart">
    <div class="chart-overall">
      <canvas id="doughnutCanvas"></canvas>
      <div class="container-legends">
        <div class="header-chart">
          <select (change)="onChange($event)">
            <option value="lowestCoin">Lowest price</option>
            <option value="highestCoin">Highest price</option>
            <option value="highesPercentage" selected>Highest % changes</option>
          </select>
        </div>
        <div
          *ngFor="
            let items of percentageSort.item | slice : 0 : 3;
            let i = index
          "
          class="legends-chart"
        >
          <div class="name-container">
            <div
              [ngClass]="
                i == 0
                  ? 'color-blue'
                  : '' || i == 1
                  ? 'color-pink'
                  : '' || i == 2
                  ? 'color-green'
                  : ''
              "
            ></div>
            <img src="{{ items['image'] }}" alt="" />
            <span class="acronym">{{ items["symbol"] }}</span>
          </div>
          <span
            [class.d-none]="!percentageSort.percentageValue"
            [ngClass]="
              items['price_change_percentage_24h'] >= 0
                ? 'plus-number'
                : 'minus-number'
            "
            class="percentage"
            >{{ items["price_change_percentage_24h"].toFixed(2) }} %</span
          >
          <span
            [class.d-none]="!percentageSort.highestCoin"
            style="color: white"
            class="percentage"
            >{{ items["current_price"] }} {{ renderService.currencyName }}</span
          >
          <span
            [class.d-none]="!percentageSort.lowestCoin"
            style="color: white"
            class="percentage"
            >{{ items["low_24h"].toFixed(5) }}
            {{ renderService.currencyName }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
