.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .balance-container {
        width: 45%;
        margin-left: 64px;
        margin-right: 32px;
        height: 18vh;
        .header-balance {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 22px;
                margin-block-start: unset;
                margin-block-end: unset;
            }
        }
        .current-price {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            font-size: 30px;
            font-weight: bold;
            p {
                margin-block-end: unset;
                margin-block-start: unset;
            }
        }
        .diffrent-prices {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .higher-price {
                text-align: end;
            }
            p {
                color: rgb(159, 159, 159);
                display: flex;
                align-items: center;
                margin-block-start: unset;
                margin-block-end: unset;
                margin-top: 16px;
                margin-bottom: 12px;
                font-size: 18px;
                .up {
                    margin-right: 8px;
                    border-radius: 50%;
                    background-color: rgb(40, 40, 40);
                    height: 24px;
                    width: 24px;
                    transform: rotate(90deg);
                }
                .down {
                    margin-right: 8px;
                    border-radius: 50%;
                    background-color: rgb(40, 40, 40);
                    height: 24px;
                    width: 24px;
                    transform: rotate(-90deg);
                }
            }

            span {
                font-size: 22px;
                font-weight: bold;
            }

            .separation-small {
                border: 1px solid rgb(50, 50, 50);
                height: 50px;
            }
        }
    }
    .separation {
        border: 1px solid rgb(50, 50, 50);
        margin-left: 32px;
        margin-right: 32px;
        height: 15vh;
    }

    .container-Chart {
        width: 45%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 64px;
        margin-left: 32px;
        .header-chart {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            select {
                height: 35px;
                width: 210px;
                background-color: black;
                color: white;
                font-size: 20px;
                font-family: "OpenSans";
                font-weight: bold;
                padding: 0px 8px 0px 8px;
                margin-bottom: 8px;
                border-radius: 10px;
                border-color: rgb(25, 25, 25);
                &:focus {
                    outline: unset;
                }
            }
        }
        p {
            margin-block-end: unset;
            margin-block-start: unset;
            margin-top: 4px;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 22px;
            width: 100%;
        }
        .chart-overall {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            canvas {
                width: auto !important;
                height: 15vh !important;
                margin-right: 16px;
            }
            .container-legends {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                .legends-chart {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: rgb(159, 159, 159);
                    font-size: 20px;
                    margin-bottom: 8px;
                    margin-top: 8px;
                    .name-container {
                        display: flex;
                        align-items: center;
                        .color-blue {
                            width: 20px;
                            height: 10px;
                            border-radius: 3px;
                            background-color: rgb(0, 136, 255);
                            margin-right: 16px;
                        }
                        .color-pink {
                            width: 20px;
                            height: 10px;
                            border-radius: 3px;
                            background-color: rgb(255, 51, 255);
                            margin-right: 16px;
                        }
                        .color-green {
                            width: 20px;
                            height: 10px;
                            border-radius: 3px;
                            background-color: rgb(51, 255, 51);
                            margin-right: 16px;
                        }
                        img {
                            margin-right: 8px;
                            width: 25px;
                        }
                        .acronym {
                            margin-right: 32px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1680px) {
    .container {
        .container-Chart {
            margin-right: 32px;
        }
    }
}
@media (max-width: 1640px) {
    .container {
        .separation {
            margin-right: 16px;
            margin-left: 16px;
        }
    }
}
@media (max-width: 1600px) {
    .container {
        .separation {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

@media (max-width: 1550px) {
    .container {
        .balance-container {
            margin-left: 32px;
        }
    }
}
@media (max-width: 1500px) {
    .container {
        .container-Chart {
            .header-chart {
                select {
                    font-size: 18px;
                }
            }
            .chart-overall {
                .container-legends {
                    .legends-chart {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .container {
        .balance-container {
            margin-right: 16px;
        }
        .container-Chart {
            margin-left: 16px;
        }
    }
}
@media (max-width: 1400px) {
    .container {
        .balance-container {
            .current-price {
                font-size: 24px;
            }
            .diffrent-prices {
                p {
                    font-size: 14px;
                    .up {
                        height: 20px;
                        width: 20px;
                    }
                    .down {
                        height: 20px;
                        width: 20px;
                    }
                }
                span {
                    font-size: 18px;
                }
            }
        }
        .container-Chart {
            .chart-overall {
                .container-legends {
                    .legends-chart {
                        .name-container {
                            .acronym {
                                margin-right: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1300px) {
    .container {
        .balance-container {
            margin-left: 16px;
            .current-price {
                font-size: 20px;
            }
        }
        .container-Chart {
            margin-right: 16px;
            .header-chart {
                select {
                    height: 30px;
                    width: 180px;
                    font-size: 16px;
                }
            }
            .chart-overall {
                canvas {
                    height: 12vh !important;
                    margin-right: 8px;
                }
                .container-legends {
                    .legends-chart {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .plus-number {
        font-size: 18px;
    }
    .minus-number {
        font-size: 18px;
    }
    .container {
        .container-Chart {
            .chart-overall {
                .container-legends {
                    .legends-chart {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .plus-number {
        font-size: 16px;
    }
    .minus-number {
        font-size: 16px;
    }
    .container {
        .balance-container {
            .header-balance {
                h3 {
                    font-size: 18px;
                }
            }
            .current-price {
                font-size: 18px;
            }
            .diffrent-prices {
                span {
                    font-size: 16px;
                }
            }
        }

        .container-Chart {
            .header-chart {
                select {
                    height: 30px;
                    width: 160px;
                    font-size: 14px;
                }
            }
            .chart-overall {
                canvas {
                    height: 10vh !important;
                }
                .container-legends {
                    .legends-chart {
                        font-size: 12px;
                        .name-container {
                            img {
                                width: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .minus-number {
        font-size: 20px;
    }
    .plus-number {
        font-size: 20px;
    }
    .container {
        flex-direction: column;

        .balance-container {
            width: 90%;
            height: 18vh;
            margin-left: unset;
            margin-right: unset;
            .header-balance {
                h3 {
                    font-size: 22px;
                    margin-block-start: unset;
                    margin-block-end: unset;
                }
            }
            .current-price {
                font-size: 28px;
            }
            .diffrent-prices {
                p {
                    font-size: 22px;
                    .up {
                        height: 24px;
                        width: 24px;
                    }
                    .down {
                        height: 24px;
                        width: 24px;
                    }
                }
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
                .separation-small {
                    height: 70px;
                }
            }
        }
        .separation {
            height: unset;
            width: 90%;
        }
        .container-Chart {
            width: 90%;
            height: 180px;
            margin-left: unset;
            margin-right: unset;
            .header-chart {
                select {
                    height: 35px;
                    width: 210px;
                    font-size: 18px;
                }
            }
            .chart-overall {
                canvas {
                    width: auto !important;
                    height: 15vh !important;
                }
                .container-legends {
                    .legends-chart {
                        font-size: 20px;
                        .minus-number {
                            font-size: 20px;
                        }

                        .plus-number {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .container {
        .separation {
            width: 90%;
        }
    }
}
@media (max-width: 800px) {
    .container {
        .balance-container {
            width: 84%;
        }
        .container-Chart {
            width: 84%;
        }
        .separation {
            width: 84%;
        }
    }
}
@media (max-width: 500px) {
    .minus-number {
        font-size: 16px;
    }
    .plus-number {
        font-size: 16px;
    }
    .container {
        .balance-container {
            .header-balance {
                h3 {
                    font-size: 18px;
                }
            }
            .current-price {
                font-size: 22px;
            }
            .diffrent-prices {
                p {
                    font-size: 18px;
                    .up {
                        height: 24px;
                        width: 24px;
                    }
                    .down {
                        height: 24px;
                        width: 24px;
                    }
                }
                span {
                    font-size: 16px;
                    font-weight: bold;
                }
                .separation-small {
                    height: 70px;
                }
            }
        }
        .separation {
            height: unset;
            width: 90%;
        }
        .container-Chart {
            .header-chart {
                select {
                    height: 35px;
                    width: 180px;
                    font-size: 14px;
                }
            }
            .chart-overall {
                canvas {
                    width: auto !important;
                    height: 12vh !important;
                }
                .container-legends {
                    .legends-chart {
                        font-size: 14px;
                        .minus-number {
                            font-size: 14px;
                        }

                        .plus-number {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
/* IPhone SE */

/* @media screen and (width: 375px) and (height: 667px) {
    .container {
        height: unset;
        margin-top: 16px;
    }
    .container-info {
        height: 218px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 32px;
    }
}

@media screen and (width: 667px) and (height: 375px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*iPhone XR*/

/* @media screen and (width: 414px) and (height: 896px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*iPhone 12 Pro*/

/* @media screen and (width: 390px) and (height: 844px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 844px) and (height: 390px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Pixel 5*/

/* @media screen and (width: 393px) and (height: 851px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 851px) and (height: 393px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Samsung S8*/

/* @media screen and (width: 360px) and (height: 740px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 740px) and (height: 360px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 600px !important;
        height: 400px !important;
    }
    p {
        margin-bottom: 32px;
    }
} */

/* Samsung S20 */

/* @media screen and (width: 412px) and (height: 915px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 915px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*iPad Air*/

/* @media screen and (width: 820px) and (height: 1180px) {
    h1 {
        font-size: 80px;
    }
    .button-container {
        width: 90%;
        margin-top: 16px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 64px;
    }
}

@media screen and (width: 1180px) and (height: 820px) {
    .main-container {
        height: auto;
    }
    h1 {
        font-size: 96px;
    }
} */

/*iPad Mini */

/* @media screen and (width: 768px) and (height: 1024px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 48px;
    }
} */

/* Surface Pro*/

/* @media screen and (width: 912px) and (height: 1368px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    .coin-main-container {
        width: 300px;
        margin-left: 16px;
    }
    .main-container {
        height: 63vh;
        margin-top: 64px;
        flex-direction: column;
    }
    p {
        font-size: 32px;
        margin-top: 48px;
    }
} */

/*Surface Duo*/

/* @media screen and (width: 540px) and (height: 720px) {
    h1 {
        font-size: 64px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 24px;
    }
}

@media screen and (width: 720px) and (height: 540px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/* Galaxy Fold */

/* @media screen and (width: 280px) and (height: 653px) {
    h1 {
        font-size: 24px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 16px;
        margin-top: 24px;
    }
}*/

@media screen and (width: 653px) and (height: 280px) {
    .container {
        .balance-container {
            height: 65vh;
        }
        .container-Chart {
            .chart-overall {
                canvas {
                    height: 50vh !important;
                }
            }
        }
    }
}

/*Galaxy A51/71*/

/* @media screen and (width: 412px) and (height: 914px) {
    h1 {
        font-size: 32px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 32px;
    }
}*/

@media screen and (width: 914px) and (height: 412px) {
    .container {
        .balance-container {
            height: 45vh;
        }
        .container-Chart {
            .chart-overall {
                canvas {
                    height: 32vh !important;
                }
            }
        }
    }
}

/*Nest Hub*/

@media screen and (width: 1024px) and (height: 600px) {
    .container {
        .balance-container {
            height: 25vh;
        }
        .container-Chart {
            .chart-overall {
                canvas {
                    height: 15vh !important;
                }
            }
        }
    }
}
/*Nest Hub Max*/
