.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px 0px 24px;
    height: 40px;
    p {
        margin-block-start: unset;
        margin-block-end: unset;
        font-weight: bold;
        font-size: 22px;
    }
    img {
        width: 40px;
        height: 40px;
        &:hover {
            cursor: pointer;
            width: 45px;
            height: 45px;
            background-color: black;
            border-radius: 50%;
        }
    }
}

.rotate-click {
    animation: rotater 500ms ease-in-out;
}

@keyframes rotater {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}
.price-container {
    margin: 0px 24px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-size: 22px;
    }
    img {
        height: 30px;
        width: 30px;
    }
}
.container-calc {
    margin: 0px 24px 0px 24px;
    p {
        color: rgb(159, 159, 159);
        font-size: 18px;
        margin-block-end: unset;
        margin-block-start: unset;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .input-container {
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 32px;
        background-color: rgb(55, 55, 55);
        .currency {
            width: 25%;
            display: flex;
            justify-content: center;
            font-size: 22px;
            margin-top: unset;
            margin-bottom: unset;
        }
        .container-coin-img {
            width: 25%;
            display: flex;
            justify-content: center;
            .coin-img {
                height: 30px;
                width: 30px;
            }
        }
        input {
            width: 70%;
            height: 48px;
            font-size: 22px;
            text-align: center;
            color: white;
            border: unset;
            border-right: 2px solid rgb(40, 40, 40);
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
            background-color: rgb(55, 55, 55);

            &:focus {
                outline: unset;
            }
        }
    }
    button {
        font-size: 22px;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        margin-top: 48px;
        background-color: rgb(70, 70, 255);
        border: unset;
        color: white;
        font-family: "OpenSans";
        font-weight: bold;
        &:hover {
            cursor: pointer;
            background-color: rgb(0, 0, 189);
        }
    }
}
@media (max-width: 1500px) {
    .head-container {
        p {
            font-size: 20px;
        }
        img {
            width: 30px;
            height: 30px;
            &:hover {
                width: 35px;
                height: 35px;
            }
        }
    }
    .price-container {
        p {
            font-size: 20px;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
    .container-calc {
        .input-container {
            height: 40px;
            .container-coin-img {
                .coin-img {
                    height: 25px;
                    width: 25px;
                }
            }
            input {
                font-size: 18px;
                height: 38px;
            }
            .currency {
                font-size: 18px;
            }
        }
        button {
            height: 38px;
            font-size: 18px;
        }
    }
}

@media (max-width: 1400px) {
    .price-container {
        p {
            font-size: 18px;
        }
        img {
            height: 15px;
            width: 15px;
        }
    }
}
@media (max-width: 900px) {
    .head-container {
        display: flex;
        width: unset;
        justify-content: space-between;
        align-items: center;
        margin: 16px 24px 0px 24px;
        height: 40px;
        p {
            font-size: 22px;
        }
        img {
            width: 40px;
            height: 40px;
            &:hover {
                width: 45px;
                height: 45px;
            }
        }
    }
    .price-container {
        //margin: 0px 24px 0px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        p {
            margin-left: 16px;
            font-size: 22px;
            margin-block-end: unset;
            margin-block-start: unset;
        }
        img {
            margin-left: 16px;
            height: 25px;
            width: 25px;
        }
    }
    .container-calc {
        margin: 0px 24px 0px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        .input-container {
            width: 200px;
            margin-left: 16px;
            margin-right: 32px;
        }
        button {
            margin-top: unset;
            width: 150px;
        }
    }
}
@media (max-width: 800px) {
    .container-calc {
        .input-container {
            width: 150px;
            margin-right: 24px;
        }
        button {
            margin-top: unset;
            width: 100px;
        }
    }
}
@media (max-width: 600px) {
    .container-calc {
        .input-container {
            height: 30px;
            width: 110px;
            margin-right: 20px;
            .container-coin-img {
                .coin-img {
                    height: 16px;
                    width: 16px;
                }
            }
            input {
                font-size: 12px;
                height: 28px;
            }
            .currency {
                font-size: 12px;
            }
        }
        button {
            height: 30px;
            font-size: 12px;
        }
    }
}
@media (max-width: 500px) {
    .price-container {
        margin-top: 16px;
        img {
            margin-left: 24px;
            margin-right: 8px;
        }
    }
    .container-calc {
        flex-direction: column;
        align-items: center;
        //margin: 0px 24px 0px 24px;
        p {
            font-size: 18px;
            width: 80%;
            text-align: start;
            margin-bottom: 8px;
            margin-top: 16px;
        }
        .input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 50px;
            border-radius: 32px;
            .currency {
                width: 25%;
                display: flex;
                justify-content: center;
                font-size: 22px;
                margin-top: unset;
                margin-bottom: unset;
            }
            .container-coin-img {
                width: 25%;
                display: flex;
                justify-content: center;
                .coin-img {
                    height: 30px;
                    width: 30px;
                }
            }
            input {
                width: 80%;
                height: 48px;
                font-size: 22px;
                text-align: center;
                color: white;
                border: unset;
                border-right: 2px solid rgb(40, 40, 40);
                border-top-left-radius: 32px;
                border-bottom-left-radius: 32px;
                background-color: rgb(55, 55, 55);

                &:focus {
                    outline: unset;
                }
            }
        }
        button {
            font-size: 22px;
            width: 80%;
            height: 50px;
            border-radius: 25px;
            margin-top: 48px;
            margin-bottom: 28px;
        }
    }
}
/* IPhone SE */

/* @media screen and (width: 375px) and (height: 667px) {
    .container {
        height: unset;
        margin-top: 16px;
    }
    .container-info {
        height: 218px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 32px;
    }
}

@media screen and (width: 667px) and (height: 375px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*iPhone XR*/

/* @media screen and (width: 414px) and (height: 896px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 896px) and (height: 414px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*iPhone 12 Pro*/

/* @media screen and (width: 390px) and (height: 844px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 844px) and (height: 390px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Pixel 5*/

/* @media screen and (width: 393px) and (height: 851px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 851px) and (height: 393px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
} */

/*Samsung S8*/

/* @media screen and (width: 360px) and (height: 740px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 740px) and (height: 360px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    canvas {
        max-width: 600px !important;
        height: 400px !important;
    }
    p {
        margin-bottom: 32px;
    }
} */

/* Samsung S20 */

/* @media screen and (width: 412px) and (height: 915px) {
    h1 {
        -webkit-text-stroke-width: 2px;
    }
    .container {
        height: unset;
        width: 90%;
        margin-top: 16px;
    }
    canvas {
        max-width: 300px !important;
        height: 220px !important;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
}

@media screen and (width: 915px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*iPad Air*/

/* @media screen and (width: 820px) and (height: 1180px) {
    h1 {
        font-size: 80px;
    }
    .button-container {
        width: 90%;
        margin-top: 16px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 64px;
    }
}

@media screen and (width: 1180px) and (height: 820px) {
    .main-container {
        height: auto;
    }
    h1 {
        font-size: 96px;
    }
} */

/*iPad Mini */

/* @media screen and (width: 768px) and (height: 1024px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 450px !important;
        height: 300px !important;
    }
    .main-container {
        flex-direction: column;
        margin-bottom: 22px;
    }
    p {
        margin-top: 48px;
    }
} */

/* Surface Pro*/

/* @media screen and (width: 912px) and (height: 1368px) {
    h1 {
        font-size: 80px;
    }
    canvas {
        max-width: 500px !important;
        height: 350px !important;
    }
    .coin-main-container {
        width: 300px;
        margin-left: 16px;
    }
    .main-container {
        height: 63vh;
        margin-top: 64px;
        flex-direction: column;
    }
    p {
        font-size: 32px;
        margin-top: 48px;
    }
} */

/*Surface Duo*/

/* @media screen and (width: 540px) and (height: 720px) {
    h1 {
        font-size: 64px;
    }
    .ml-16 {
        margin-left: 16px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 24px;
    }
}

@media screen and (width: 720px) and (height: 540px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/* Galaxy Fold */

/* @media screen and (width: 280px) and (height: 653px) {
    h1 {
        font-size: 24px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 16px;
        margin-top: 24px;
    }
}

@media screen and (width: 653px) and (height: 280px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*Galaxy A51/71*/

/* @media screen and (width: 412px) and (height: 914px) {
    h1 {
        font-size: 32px;
        -webkit-text-stroke-width: 2px;
    }
    .ml-16 {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-container {
        flex-direction: column;
    }
    p {
        font-size: 20px;
        margin-top: 32px;
    }
}

@media screen and (width: 914px) and (height: 412px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    p {
        margin-bottom: 32px;
    }
    .container {
        width: 100%;
    }
} */

/*Nest Hub*/

/* @media screen and (width: 1024px) and (height: 600px) {
    .main-container {
        height: auto;
        flex-direction: column;
    }
    .container {
        width: 90%;
    }
    p {
        margin-bottom: 32px;
    }
}
 */
/*Nest Hub Max*/
