@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-Regular.ttf") format("ttf");
}
body,
html {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    color: whitesmoke;
    font-family: "OpenSans", bold;
}

/* .mr-10 {
    margin-right: 10%;
}

.ml-10 {
    margin-left: 10%;
}

.mb-64 {
    margin-bottom: 64px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-32 {
    margin-top: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.mr-32 {
    margin-right: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.mr-8 {
    margin-right: 8px;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 50px;
    background-color: rgb(100, 100, 100) !important;
}

.mat-dialog-container {
    background-color: black !important;
    color: white !important;
}
.mat-slide-toggle-bar {
    background-color: rgb(40 40 40);
}
.mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
        background-color: rgb(70, 70, 255);
    }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(100, 100, 100);
}

.mat-slide-toggle-content {
    font-size: 20px;
    font-family: "OpenSans";
    font-weight: bolder;
    margin-left: 16px;
}
.bg-container {
    background-color: rgb(25, 25, 25);
}
.name-color {
    font-size: large;
    display: flex;
    align-items: center;
    color: rgb(159, 159, 159);
}

.minus-number {
    color: red;
    font-size: 20px;
}

.plus-number {
    color: rgb(0, 212, 0);
    font-size: 20px;
}

.border-none {
    border: none !important;
}

.d-none {
    display: none;
}
