@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
* {
    font-family: "OpenSans" !important;
}
body,
html {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    color: whitesmoke;
    font-family: "OpenSans";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 50px;
    background-color: rgb(100, 100, 100) !important;
}

.mat-dialog-container {
    background-color: black !important;
    color: white !important;
}
.mat-slide-toggle-bar {
    background-color: rgb(40 40 40);
}
.mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
        background-color: rgb(70, 70, 255);
    }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(100, 100, 100);
}
.drag-scroll-content {
    overflow-x: hidden !important;
}
.mat-slide-toggle-content {
    font-size: 20px;
    font-family: "OpenSans";
    font-weight: bold;
    margin-left: 16px;
}
.bg-container {
    background-color: rgb(25, 25, 25);
}
.name-color {
    font-size: large;
    display: flex;
    align-items: center;
    color: rgb(159, 159, 159);
}

.minus-number {
    color: red;
    font-size: 16px;
}

.plus-number {
    color: rgb(0, 212, 0);
    font-size: 16px;
}

.border-none {
    border: none !important;
}

.d-none {
    display: none;
}
@media (max-width: 700px) {
    .mat-slide-toggle-content {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .mat-slide-toggle-content {
        font-size: 12px;
    }
    .mat-slide-toggle-content {
        margin-left: 4px;
    }
    .mat-slide-toggle-thumb {
        height: 10px !important;
        width: 10px !important;
    }
    .mat-slide-toggle-bar {
        width: 25px !important;
        height: 5px !important;
    }
    .mat-slide-toggle-thumb-container {
        top: -2px !important;
    }
}

/* Galaxy Fold */

@media screen and (width: 280px) and (height: 653px) {
    .mat-slide-toggle-content {
        font-size: 10px;
    }
}
